<div class="user-details">
  <h1> Olá, sou o João Pedro Sconetto :D </h1>
  <p> {{site.user_description}} </p>
  <p> {{site.user_description_hobbies}} </p>
  <br>
  <img width="350px" height="350px" src="/assets/img/sconetto.jpg">
  <br><br>
  <p> Formando em engenharia de software pela Universidade de Brasília. Já fui estagiário na Basis Tecnologia como Suporte/Gerente de Configuração onde realizava diversas tarefas, grande parte delas eram relacionadas à Java, Groovy, Suporte a usuários e ferramentas, além de configuração em geral. Já estagiei para o Senado Federal como desenvolvedor Python/Django, onde desenvolvia sistemas <i>Open Source</i>, sendo um deles o SAPL - Sistema de Apoio Legislativo. Atualmente trabalho como pesquisador para o laboratório Latitude da UnB, pesquisando e desenvolvendo sistemas seguros com arquitetura microserviços.</p>
  <p> Entre em contato para conversar sobre qualquer um desses assuntos ou outros. Minhas redes sociais estão logo acima. Caso queira um <i>currículo</i> em um modelo mais formal você pode encontrar uma cópia neste <a href="https://github.com/sconetto/sconetto.github.io/raw/master/assets/pdf/curriculo-joao-pedro-sconetto.pdf">link</a>.</p>
  <br>
  <h1 id="skills"> Habilidades </h1>
  <p> Aqui está resumido um pouco de tudo que eu conheço, trabalho ou já trabalhei. Tem muita coisa para escrever mas tentei resumir as principais. Gosto muito de trabalhar com práticas ágeis, técnicas de TDD, <i>Pair Programming</i>, integração e entrega contínua, padrões de projetos, entre outros. Acho muito bacana, também, a melhoria de processos além da automatização de tarefas, mas foco sempre deve ser nas pessoas!</p>
  <p> Veja mais um pouco sobre minhas habilidades e o que sei: <p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Desing</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <p> Adoro trabalhar com <i>front-end</i>, tenho uma queda pelo Materialize da Google mas já trabalhei com diversas ferramentas. Tenho conhecimento em Bootstrap, HTML/CSS, Angular, JavaScript/jQuery, outras tecnologias e <i>frameworks</i> para front-end. </p>
    </div>
    <div class="tech">
      <h2>Linguagens</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-react-original colored"></i>
      <p> Sempre busco aprender novas linguanges e paradigmas, sempre se pode melhorar com uma linguagem a mais de bagagem. Já estive em projetos de Java/Groovy, Python, Go, React Native, C/C++, Assembly MIPS/i386 e mais algumas diversas. </p>
    </div>
    <div class="tech">
      <h2>Ferramentas</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <i class="devicon-travis-plain colored"></i>
      <p> Acredito com que boas ferramentas o engenheiro bom se torna ainda melhor, além de facilitar os projetos e várias outras áreas. Gosto muito de trabalhar com Git, Docker e ferramentas de CI/CD. Possuo conhecimento com outras como GIMP, Bizagi, Atlassian JIRA, MS Server, entre várias demais de diferentes propósitos. </p>
    </div>
  </div>
  <div class="user">
    <div class="tech">
      <h2>Sistemas Operacionais</h2>
      <i class="devicon-linux-plain colored"></i>
      <i style="color: #000" class="devicon-windows8-original"></i>
      <i class="devicon-apple-original colored"></i>
      <p> Conto experiência com diversos tipos de sistemas operacionas e já trabalhei com diversas versões e distribuições, sem medo nenhum de terminal, seja ele um bash, um prompt de comando ou só uma tela preta com um cursor piscando. </p>
    </div>
    <div class="tech">
      <h2>Metodologias de Projeto</h2>
        <i><img width="70px" height="70px" src="/assets/img/agile.png"/></i>
        <i><img width="70px" height="70px" src="/assets/img/kanban.png"/></i>
        <p> Bagagem com gestão de projetos, requisitos, DevOps e melhoria de processos. Conhecimento em metodologias ágeis e tradicionais como RUP, Kanban, Scrum, XP, Lean, Design Thinking e SAFe. </p>
    </div>
    <div class="tech">
      <h2>Outras Habilidades</h2>
      <i><img width="70px" height="70px" src="/assets/img/language-color.png"/></i>
      <i><img width="70px" height="70px" src="/assets/img/database.png"/></i>
      <i><img width="70px" height="70px" src="/assets/img/teamwork.png"/></i>
      <p> Tenho um nível de inglês avançado, quase fluente, conheço também espanhol (em um nível mediano) e estou apredendo japonês. Adoro trabalhar em equipe e acredito que <i>feedback</i> é a chave para o crescimento da equipe. Os demais conhecimentos estão descritos no meu currículo formal que pode ser acessado pelo <a href="https://sway.office.com/YGdrX7p1G2Gx3odg?ref=Link">Sway</a>. </p>
    </div>
  </div>
</div>
