 <div class="user-details">
  <h1> Olá, sou o João Pedro Sconetto :D </h1>
  <p> {{site.user_description}} </p>
  <p> {{site.user_description_hobbies}} </p>
  <br>
  <img width="350px" height="350px" src="/assets/img/sconetto.jpg">
  <br><br>
  <p> Formando em engenharia de software pela Universidade de Brasília. Fui estagiário na Basis Tecnologia como Suporte/Gerente de Configuração onde fazia diversas tarefas, grande parte delas relacionadas com JIRA, Java, Groovy, Shell e Suporte/Configuração em geral. Atualmente estagio como desenvolvedor no Senado Federal, manutenindo e evoluindo uma ferramenta <i>Open Source</i> chamada SAPL (Sistema de Apoio ao Processo Legislativo) em Python/Django.</p>
  <p> Entre em contato para conversar sobre qualquer um desses assuntos ou outros. Minhas redes sociais estão logo acima. </p>
  <br>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
</div>
