<div class="user-details">
  <h1>Experiência</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="research" src="{{
      "/assets/img/scientist.png" | prepend: site.baseurl
    }}" />
  </div>
  <div class="contents">
    <h3>Universidade de Brasília (UnB)</h3>
    <ul>
      <li>Cargo: Pesquisador</li>
      <li>Setor: Laboratório Latitude</li>
      <li>Duração: 01/10/2018 - Atual</li>
    </ul>
    <p>
      Principais atividades: Pesquisa e desenvolvimento de softwares seguros;
      Pesquisa e implantação de Boas práticas em Desenvlovimento de Software;
      Pesquisa e implementação de técnicas de DevSecOps, SysAdmin, Infra, entre
      outras; Demais pesquisas em diversas áreas correlatas ao processo de
      desenvolvimento de software
    </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="developer" src="{{
      "/assets/img/programmer.png" | prepend: site.baseurl
    }}" />
  </div>
  <div class="contents-right">
    <h3>Senado Federal - ILB/Interlegis</h3>
    <ul>
      <li>Cargo: Desenvolvedor</li>
      <li>Setor: Pesquisa e Desenvolvimento Tecnológico - SPDT</li>
      <li>Duração: 19/09/2018 - 30/09/2018</li>
    </ul>
    <p>
      Principais atividades: Manutenir e evoluir sistema de atendimento a casas
      legislativas (SAPL); Desenvolvimento de código e scripts (Python); Testes
      de Código (Python); Construção de outros sistemas Python/Django.
    </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="support" src="{{
      "/assets/img/server.png" | prepend: site.baseurl
    }}" />
  </div>
  <div class="contents">
    <h3>Basis Tecnologia da Informação S.A.</h3>
    <ul>
      <li>Cargo: Estigário</li>
      <li>Setor: Suporte/Gerência de Configuração</li>
      <li>Duração: 15/06/2016 - 06/09/2017</li>
    </ul>
    <p>
      Principais atividades: Manutenir e evoluir sistema interno (Sistema de
      Gestão de Ocorrências – Atlassian JIRA); Manter AD de usuário (Microsoft
      Server); Gerenciamento de Banco de Dados SQL Server; Manutenir, evoluir e
      criar Scripts e Plug-ins de execução de sistema interno (Groovy e JAVA);
      Suporte a usuários em geral; Configuração de sistema e ferramentas.
    </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="apprentice" src="{{
      "/assets/img/management.png" | prepend: site.baseurl
    }}" />
  </div>
  <div class="contents-right">
    <h3>BRF Brasil Foods S.A.</h3>
    <ul>
      <li>Cargo: Aprendiz Administrativo</li>
      <li>Setor: Merchandising</li>
      <li>Duração: 10/04/2016 - 01/09/2014</li>
    </ul>
    <p>
      Principais atividades: Gerenciamento de pesquisas de campo; Auxílio à
      equipe de supervisores; Elaboração de documentações; Auxiliar Gerencial;
      Gestor da equipe de Aprendizes da região Centro-Norte.
    </p>
  </div>
</div>
<br /><br />
<!-- <div class="user-details">
  <h1> Cursos e Certificados </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="lorem" src="/" />
  </div>
  <div class="contents">
    <h3> Lorem </h3>
    <ul>
      <li> Lorem </li>
      <li> Lorem </li>
    </ul>
    <p>lorem ipsum</p>
  </div>
</div> -->
