<div class="user-details">
  <h1> Experiência </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="lorem" src="/" />
  </div>
  <div class="contents">
    <h3> Lorem </h3>
    <ul>
      <li> Lorem </li>
      <li> Lorem </li>
    </ul>
    <p>lorem ipsum</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="lorem" src="/" />
  </div>
  <div class="contents-right">
    <h3> Lorem </h3>
    <ul>
      <li> Lorem </li>
      <li> Lorem </li>
    </ul>
    <p>lorem ipsum</p>
  </div>
</div>
<br><br>
<div class="user-details">
  <h1> Cursos e Certificados </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="lorem" src="/" />
  </div>
  <div class="contents">
    <h3> Lorem </h3>
    <ul>
      <li> Lorem </li>
      <li> Lorem </li>
    </ul>
    <p>lorem ipsum</p>
  </div>
</div>