<div class="user-details">
  <h1> Projetos </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="drdown" src="{{ "/assets/img/doctor-character.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Dr. Down </h3>
    <ul>
      <li> Linguagem: Python/Django </li>
      <li> Papel: DevOps/Gestor do Time/Desenvolvedor </li>
    </ul>
    <p>Ferramenta de informação e união de pessoas que convivem com a Síndrome de Down. O Dr. Down é um sistema direcionado a auxiliar o cuidado de pessoas com Síndrome de Down realizado atualmente pelo Hospital Regional da Asa Norte, localizado em Brasília - DF, em um centro de tratamento especializado chamado Cris Down.</p>
    <a class="project-link" href="https://fga-eps-mds.github.io/2018.1-Dr-Down/">Saiba mais</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="debate" src="{{ "/assets/img/politician.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> SAPL - Sistema de Apoio ao Processo Legislativo</h3>
    <ul>
      <li> Linguagem: Python Django </li>
      <li> Papel: Desenvolvedor </li>
    </ul>
    <p>O SAPL é um ferramenta que visa auxiliar o Processo Legislativo (PL), sendo este o conjunto de atividades de uma Casa Legislativa. É manutenido pelo Interlegis com auxílio da comunidade do GITEC. O sistema foi imaginado para automatizar o PL visando os benefícios relacionados com a qualidade dos serviços prestados pelas Casas e com o trabalho dos parlamentares.</p>
    <a class="project-link" href="https://github.com/interlegis/sapl">Saiba mais</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Partiu!" src="{{ "/assets/img/partiu.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Partiu! </h3>
    <ul>
      <li> Linguagem: Ionic/Angular/Ruby on Rails </li>
      <li> Papel: Desenvolvedor </li>
    </ul>
    <p>Aplicativo híbrido multiplataforma desenvolvido para auxiliar amigos e pessoas com amigos em comum oferecerem e usufruirem de caronas colaborativas.</p>
    <a class="project-link" href="https://github.com/fga-eps-mds/2016.1-Partiu_backend">Saiba mais</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="debate" src="{{ "/assets/img/game-controller.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Ankhnowledge</h3>
    <ul>
      <li> Linguagem: C++/DSL </li>
      <li> Papel: Gerente de Configuração/DevOps </li>
    </ul>
    <p>Ankhnowledge é um jogo multiplayer feito em C++ com auxílio da biblioteca de multimídia livre SDL (Simple DirectMedia Layer) que foi produzido durante a matéria de Introdução aos Jogos Eletrônicos na UnB. O jogo se ambienta em cenários do antigo egito, onde dois jogadores disputam para ver quem é o melhor explorador.</p>
    <a class="project-link" href="https://github.com/sconetto/Ankhnowledge">Saiba mais</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="GitHub" src="{{ "/assets/img/github.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Outros Projetos </h3>
    <ul>
      <li> Linguagem: Várias </li>
    </ul>
    <p>Para ver uma série de outras participações e projetos Open Source dê uma olhada nos meus repositórios no GitHub!</p>
    <a class="project-link" href="https://github.com/sconetto?tab=repositories">Saiba mais</a>
  </div>
</div>